//Variáveis
$title: #fffcf9;
$subtitle: #b3b3b3;
$bg-button: #e9e6e3;
$background: linear-gradient(43deg, #3498db 0%, #34495e 52%, #e67e22 100%);

//Imports
@import 'reset';
@import 'section-main';

body{
  height: 100vh;
  background: $background no-repeat;
  font-family: 'Poppins', sans-serif;

  @media (max-width: 1080px){
    font-size: 93.75%;
  }

  @media (max-width: 720px){
    font-size: 87.5%;
  }

  @media (max-width: 540px){
    font-size: 75%;
  }
}

h1, h2, h3, h4, h5, h6{
  font-weight: 700;
}